*,
::before,
::after {
    box-sizing: border-box;
}
/* * * Start CSS Chung * * *  */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Work Sans", sans-serif;
    color: #ffffff;
}
textarea,
label,
input,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Work Sans", sans-serif;
    background: #2b2b2b;
}
/* * * End CSS Chung * * *  */
/* =============== Start Common button =============  */
.btn {
    --width: initial;
    --height: initial;
    --bgc: initial;
    --border-radius: initial;
    --gap: initial;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);

    min-width: var(--width);
    height: var(--height);

    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;

    background-color: var(--bgc);
    border-radius: var(--border-radius);
    border: currentColor;

    transition: background-color 0.2s ease-in;
    cursor: pointer;
    user-select: none;
}
.btn:hover {
    opacity: 0.9;
}
.btn--primary {
}
.btn--secondary {
    --width: 186px;
    --height: 60px;
    --bgc: #a259ff;
    --border-radius: 20px;
    --gap: 12px;
}

.container {
    /* 1050 + 115 x 2 */
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 115px;
}

.border-test {
    border: 1px solid red;
}

/* =============== End Common =============  */

/* * * Start Header * * *  */
.header {
    padding: 20px 50px;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__logo-link {
    display: flex;
    align-items: center;
    gap: 12px;
}
.header__nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header__list {
    display: flex;
    align-items: center;
}
.header__link {
    font-size: 1.6rem;
    padding: 12px 20px;
    color: #fff;
    transition: color 0.05s ease-in;
}
.header__link:hover {
    color: #a259ff;
}
.header__btn {
    margin-left: 10px;
}

.header__btn {
    --width: 152px;
}

.header__btn-menu {
    display: none;
}
/* * * END Header * * *  */


/*--------------------------------------------   Hero   ----------------------------------------*/
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero .heroText-and-buttons {
    width: 48.57%;
}
/* Headline And Subhead (Tiêu đề và mô tả) */
.hero .headline-and-subhead .title {
    font-weight: 600;
    font-size: 6.7rem;
    line-height: 1.1;
    vertical-align: middle;
    text-transform: capitalize;
}

.hero .headline-and-subhead .desc {
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.6;
    text-transform: capitalize;
}

/* Buttons */
.hero .hero-btn {
    margin-top: 30px;
    --width: 224px;
}

/* Additional Info */
.hero .additional-info {
    margin-top: 30px;
    display: flex;
    column-gap: 30px;
}

.hero .additional-info .item {
    flex: 1;
}

.hero .additional-info .data {
    font-family: Space Mono;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.4;
    vertical-align: middle;
    text-transform: capitalize;
    color: #fff;
}

.hero .additional-info .desc {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.6;
    text-transform: capitalize;
    color: #fff;
}


/* Highlighted NFT */

.highlighted-nft {
    width: 48.57%;
}

.hero .highlighted-nft img {
    display: block;
    max-width: 100%; /* Đặt max-width thì ảnh sẽ có thể thu nhỏ lại */
}

.hero .highlighted-nft .caption {
    padding: 20px;
    background: #3B3B3B;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hero .highlighted-nft .title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.4;
    text-transform: capitalize;
    color: #fff;
}

.hero .highlighted-nft .content {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.hero .highlighted-nft .avatar-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #fff;
    margin-left: 12px;
}


/*--------------------------------------------   Trending Collection   ----------------------------------------*/


.trending .section-headline {
    max-width: 1046px;
}

.trending .section-headline .heading {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.2;
    text-transform: capitalize;
}

.trending .section-headline .subhead {
    margin-top: 10px;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.6;
    text-transform: capitalize;
    color: #fff;
}


.trending .collection-card-row {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.trending .secondary-image {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.trending .secondary-image-item:nth-of-type(1) img, .trending .secondary-image-item:nth-of-type(2) img {
    width: 100px;
    border-radius: 20px;
}

.trending .secondary-image-item:nth-of-type(3) {
    width: 100px;
    height: 100px;
    background: #a259ff;
    border-radius: 20px;
    position: relative;
}

.trending .secondary-image-item:nth-of-type(3) span {
    font-family: Space Mono;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.6;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}



.trending .collection-card .caption {
    margin-top: 15px;
}

.trending .collection-card .title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.4;
    text-transform: capitalize;
    color: #fff;
}

.trending .collection-card .content {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.trending .collection-card .avatar-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #fff;
    margin-left: 12px;
}


/*--------------------------------------------   Top creators   ----------------------------------------*/

/* Section Headline & Button */
.top-creators .section-headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top-creators .heading {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.2;
    text-transform: capitalize;
}

.top-creators .subhead {
    margin-top: 10px;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.6;
    text-transform: capitalize;
    color: #fff;
}

.top-creators .top-creators-btn {
    --width: 247px;
    background: transparent;
    border: 2px solid #A259FF;
}


/* Artist Cards Grid */
.artist-cards-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.artist-card-item {
    position: relative;
    border-radius: 20px;
    padding: 20px;
    background: #3B3B3B;
    height: 238px;
    text-align: center;
}

.artist-card-item .artist-info {
    margin-top: 20px;
}

.artist-card-item .artist-name {
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.4;
    text-transform: capitalize;
}

.artist-card-item .additional-info {
    display: flex;
    justify-content:center;
    column-gap: 10px;
    margin-top: 5px;
}

.artist-card-item  .total-sales {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color:#858584;
}

.artist-card-item  .number {
    font-family: Space Mono;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #fff;
}

.artist-card-item .ranking {
    width: 30px;
    height: 30px;
    background: #2B2B2B;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}
.artist-card-item .ranking .number {
    font-family: Space Mono;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    text-align: center;
    color: #858584;
}


/*--------------------------------------------   Browse Categories   ----------------------------------------*/


.browse-categories .section-headline {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.2;
    text-transform: capitalize;
}

.browse-categories .category-card-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.browse-categories .category-card-grid .photo-icon {
    position: relative;
    max-height: 240px;
    max-width: 240px;
    /*width: 240px;*/
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.browse-categories .category-card-grid .image-placeholder {
    filter: blur(4px);
    display: block;
}

.browse-categories .category-card-item:nth-of-type(1) .overlay, .browse-categories .category-card-item:nth-of-type(4) .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}

.browse-categories .category-card-grid .category-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.browse-categories .category-card-grid .collection-name {
    background: #3b3b3b;
    padding: 20px 30px 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.browse-categories .category-card-grid .name-card {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.4;
    text-transform: capitalize;
    color: #fff;
}



/*--------------------------------------------   Discover More NFTs   ----------------------------------------*/

.discover .container {
    padding: 80px 114px;
}

/*Section Headline & Button*/
.discover .section-heading-and-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.discover .heading {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.2;
    text-transform: capitalize;
}

.discover .subhead {
    margin-top: 10px;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.6;
    text-transform: capitalize;
    color: #fff;
}

.discover .discover-btn {
    --width: 187px;
    background: transparent;
    border: 2px solid #A259FF;
}


/*NFT Cards Row*/
.discover .nft-cards-row {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.discover .nft-cards-row .image-placeholder {
    display: block;
    width: 100%;
}

.discover .nft-card:nth-of-type(3) .image-placeholder  {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.discover .nft-cards-row .nft-info {
    padding: 20px 30px 25px;
    background: #3b3b3b;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.discover .nft-cards-row  .nft-name {
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.4;
    text-transform: capitalize;
}

.discover .nft-cards-row .artist-avatar-and-name {
    margin-top: 5px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.discover .nft-cards-row .nft-artist-name {
    color: #fff;
    font-family: Space Mono;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
}

.discover .nft-cards-row  .additional-info {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discover .nft-cards-row .price, .discover .nft-cards-row .highest-bid {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.discover .nft-cards-row .price {
    text-align: left;
}

.discover .nft-cards-row .highest-bid {
    text-align: right;
}

.discover .nft-cards-row .price-tag, .discover .nft-cards-row .highest-bid-tag {
    font-family: Space Mono;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #858584;
}

.discover .nft-cards-row .price-number, .discover .nft-cards-row .highest-bid-number {
    font-family: Space Mono;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #fff;
}



/*--------------------------------------------   Magic Mashrooms (NFT Highlight)   ----------------------------------------*/

/* Background */
.magic .container {
    background-image: url("../img/50c73503d13e1fe1a0e3277804ef1192.png");
    min-height: 640px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 60px 115px;
}

.magic .overlay {
    position: absolute;
    background: #A259FF;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, rgba(162, 89, 255, 1) 100%);
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 0;
}



/* NFT Frame */

.magic .nft-frame {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;

}

.magic .artist-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    width: 151px;
    height: 44px;
    padding: 10px 20px;
    border-radius: 20px;
    background: #3B3B3B;
}

.magic .avatar-name {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #fff;
}

.magic .title {
    display: block;
    margin-top: 30px;
    font-weight: 600;
    font-size: 5.1rem;
    line-height: 1.1;
    text-transform: capitalize;
    color: #fff;
}

.magic .magic-btn {
    margin-top: 30px;
    background: #fff;
    color: #2B2B2B;
    --width: 198px;
}

/* Auction Timer */

.magic .auction-timer {
    background: #3B3B3B80;
    width: 295px;
    height: 147px;
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(10px);
}

.magic .auction-timer .action-title {
    font-family: Space Mono;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #fff;
}

.magic .auction-timer .number, .magic .auction-timer .dots  {
    font-family: Space Mono;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.2;
    text-transform: capitalize;
    color: #fff;
}

.magic .auction-timer .unit {
    font-family: Space Mono;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.1%;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
}

.magic .auction-timer .timer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
}


/*--------------------------------------------   Magic Mashrooms (NFT Highlight)   ----------------------------------------*/


.works .section-headline .title {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.2;
    text-transform: capitalize;
}

.works .section-headline .desc {
    color: #fff;
    margin-top: 10px;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.6;
    text-transform: capitalize;
}

.works .card-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 48px;
}


.works .card-row .info-card {
    text-align: center;
    width: 330px;
    /*height: 439px;*/
    min-height: 320px;
    padding: 10px 30px 30px 30px;
    border-radius: 20px;
    background: #3B3B3B;
}

.works .info-card .card-details {
    margin-top: 20px;
}

.works .info-card .sub-title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.4;
    text-transform: capitalize;
    color: #fff;
}

.works .info-card .paragraph {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #fff;
}


/*--------------------------------------------   Join   ----------------------------------------*/

.join .container {
    padding: 40px 115px 80px;
}

.join .join-frame {
    padding: 60px;
    background: #3B3B3B;
    width: 1050px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.join .join-frame .photo {
    width: 425px;
    height: 310px;
    flex: 1;
    object-fit: cover;
    border-radius: 20px;
}

.join .join-frame .content {
    flex: 1;
}

.join .content .headline {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.2;
    text-transform: capitalize;
}

.join .content .subhead {
    margin-top: 10px;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.6;
    text-transform: capitalize;
    color: #fff;
}

.join .subscribe-form {
    margin-top: 40px;
    width: 425px;
    height: 60px;
    background: #fff;
    border-radius: 20px 30px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.join .subscribe-form input {
    all: unset; /* Reset lại thẻ input */
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 20px 0 0 20px;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #2B2B2B;
}

.join .subscribe-form input::placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #2B2B2B;
}

.join .subscribe-form .subscribe-btn {
    background: #A259FF;
    color: #fff;
    --width: 211px;
}


/*--------------------------------------------   Footer   ----------------------------------------*/

footer .container {
    background: #3B3B3B;
}

.footer-frame {
    padding: 0 31.29px;
}

footer .footer-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nft-marketplace-info {
    flex: 1;
}

footer .explore {
    width: 240px;
}


/* NFT Marketplace */

footer .additional-info {
    margin-top: 30px;
    width: 238px;

}

footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #CCCCCC;
}

footer .community-info {
    margin-top: 20px;
}

footer .icons {
    margin-top: 15px;
}

/* Explore */

footer .explore-title {
    font-family: Space Mono;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.6;
    text-transform: capitalize;
    color: #fff;
}

footer .page {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    row-gap: 20px;
}


/* Subscribe */


footer .subscribe-form-and-info {
    margin-top: 25px;
}

.subscribe-form-and-info > .desc {
    display: inline-block;
    width: 330px;
}

footer .subscribe-form {
    margin-top: 20px;
    width: 420px;
    height: 60px;
    background: #fff;
    border-radius: 20px 30px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .subscribe-form input {
    all: unset; /* Reset lại thẻ input */
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 20px 0 0 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #2B2B2B;
}


footer .subscribe-form input::placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

footer .subscribe-form .subscribe-btn {
    background: #A259FF;
    color: #fff;
    --width: 179px;
}


/* no-copy-right */

footer .no-copy-right {
    margin-top: 30px;
}

footer .divider {
    border: 1px solid #858584;
}

footer .no-copy-right span {
    margin-top: 20px;
    display: inline-block;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #CCCCCC;
}