* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heading-font-size: 2rem;
    --heading-font-weight: 700;

    --subheading-font-size: 1.8rem;
    --subheading-font-weight: 600;

    --normal-font-size: 1.6rem;
    --normal-font-weight: 400;
}

html {
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
}

body {
    font-size: var(--normal-font-size);
    font-weight: var(--normal-font-weight);
}
/*----------------- Common ------------------------------------------------------------------------*/
.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.mdi {
    font-size: var(--heading-font-size);
}




/*----------------- Sidebar ------------------------------------------------------------------------*/


.sidebar {
    width: 220px;
    background: #1e293b;
    height: 100vh; /* Chiều cao bằng 100% viewport */
    position: fixed; /* Fixed cứng vị trí -> khi lăn chuột xuống vẫn giữ nguyên vị tri của sidebar */
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    color: #fff;
}

.sidebar .header-title {
    display: flex;
    align-items: center;
}

.sidebar img {
    border-radius: 3px;
    margin-right: 10px;
}

.sidebar .sidebar-title {
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
}

.sidebar .menu {
    font-size: var(--normal-font-size);
    margin-top: 20px;
    list-style: none;
}
.sidebar .menu-title {
    display: inline-block;
    margin-bottom: 10px;
    font-size: var(--subheading-font-size);
    font-weight: var(--subheading-font-weight);
}

.sidebar .menu-item {
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar .mdi {
    color: greenyellow;
    margin-right: 7px;
}

.sidebar .menu-item a {
    color: #fff;
    text-decoration: none;
}

.sidebar .mdi-menu-down {
    margin-left: auto;
}


/*----------------- Content ------------------------------------------------------------------------*/

.main {
    margin-left: 220px;
    width: calc(100% - 220px);
    padding: 40px;
}

.main .content {
    width: 1000px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.content .title {
    font-size: var(--heading-font-size);
}

.content .table {
    margin: 20px auto;
    width: 70%;
    border-collapse: collapse;
}

.content tr:not(:nth-of-type(3)) {
    border-bottom: 1px solid #dddddd;
}

.content th, .content td {
    padding: 16px;
    text-align: left;
}

.content th {
    font-size: var(--subheading-font-size);
    font-weight: var(--subheading-font-weight);
}


.content  .btn-edit {
    margin-right: 5px;
    background: #198754;
}

body:has(input[type="checkbox"]:checked) .modal-overlay {
    display: flex;
}


.content  .btn-delete {
    background: #dc3545;
}


/*----------------- Modal ------------------------------------------------------------------------*/

.modal-overlay {
    position: absolute;
    inset: 0;
    /*display: flex;*/
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

.modal {
    width: 30%;
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
}

/*Modal Header*/

.modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1c2434;
    padding: 16px;
    border-radius: 5px 5px 0 0;
}

.modal .btn-exit {
    margin-left: auto;
    color: #fff;
}

.modal .modal-title {
    color: #fff;
    font-size: var(--subheading-font-size);
    font-weight: var(--subheading-font-weight);
}

/*Modal Body*/

.modal .modal-body {
    min-height: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.modal .modal-item {
    border: 1px solid #1c2434;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.modal .modal-item:nth-of-type(1) {
    padding: 0 5px 0 16px;
}

.modal input, .modal select {
    all: unset;
    width: 100%;
    padding: 10px 0;
    line-height: 1.5;
    color: #000000;
}

.modal select {
    color: #b3b3b3;
}

.modal select:valid {
    color: #000000;
}

.modal select:focus + span {
    rotate: 180deg;
}

.modal option {
    color: #000000;
}

.modal input::placeholder {
    color: #b3b3b3;
}


.modal .modal-btn {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}


.modal-btn label {
    flex: 1;
}
.modal .btn-close {
    width: 100%;
    background: #198754;
}

.modal .btn-save {
    width: 100%;
    background: #dc3545;
}


