h1 {
    color: red;
}

p {
    color: green;
}


div > p {
    color: aqua;
}

.product-item p a {
    color: pink;
}

#discount-1 {
    color: red;
}

#discount-2 {
    color: fuchsia;
}

#discount-3 {
    color: chocolate ;
}


