/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #8758ff;;
}

.container {
    display: block;
    width: 450px;

    text-align: center;
    background-color: #1a1a40;
    color: #ffffff;
    border-radius: 5px;
    margin: 80px auto 0;
    padding: 32px;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

.todo-form {
    width: 100%;
}

.add-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 24px;
}

.todo-input {
    display: block;
    background: none;
    color: #fff;
    border: 1px solid #8758ff;
    outline: none;
    padding: 8px 16px;
    width: 300px;
}

.todo-item{
    background-color: #8758ff;
    color: #ffffff;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 12px 16px;
    border-radius: 5px;
}

.add-btn {
    display: block;
    cursor: pointer;
    background-color: #8758ff;
    color: #ffffff;
    border: none;
    padding: 9px;
}

.edit-btn, .del-btn{
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    border: none;
}

.edit-btn{
    margin-left: auto;
    margin-right: 12px;
}

.completed{
    text-decoration-line: line-through;
    text-decoration-color: black;
    color: rgba(255,255,255,0.5);
}
